<div class="card" style="width: 18rem;">
    <div>
      <img src="{{ product.image }}" class="card-img-top" alt="{{ product.productName }}">
    </div>
    <div>
      <h4 class="mb-1">{{ product.productName }}</h4>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Price: ${{ product.pattern.price }}</p>
    </div>
  <div class="d-flex align-items-center" style="margin-left: 60px;">
    {{#isOwner currentUser=currentUser currentUserId=product.user._id}}
      <form class="m-0" action="/products/{{productId}}/delete" method="POST">
        <button class="btn text-danger" type="submit">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </form>
    {{/isOwner}}
    <button class="like-btn btn text-primary" type="button" value="{{product.id}}">
      <span>{{product.likes.length}}</span>
      {{#hasLike currentUser=currentUser product=product}}
        <i class="bi bi-heart-fill"></i>
      {{else}}
        <i class="bi bi-heart"></i>
      {{/hasLike}}
    </button>
  </div>
</div>
